body {
	margin: 0%;
	padding: 0%;
}

/* clases reutilizables */

.title{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	color: black;
	text-transform: uppercase;
}

/* remplazar por after y before */
hr {
	width: 100px;
	height: 3px;
	background-color: #ffffff;
	display: inline-block;
}

/* menú */
.header {
	background: #2c3e50;
	color: white;
	position: fixed;
	width: 100%;
	height: 15%;
}

.header > .start {
    margin: 2%;
    font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.header > .options {
	float: right;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.header > .options > .menu {
  margin: 20px 40px;
  font-weight: 700;
}

/* portada */
main {
	background: #18bc9c;
	font-family: 'Lato', sans-serif;
    font-weight: bold;
	font-size: 40px;
	color: #ffffff;
	text-align: center;
	height: 50%;
}

.boos{
	margin-top: 20%;
}

main > .web {
	font-size: 20px;
}

/* portafolio */

.images > img {
    display: inline-block;
    width: 29%;
    height: 29%;
    margin: 1% 1% 1% 2.5%;
}

/* sección about */

.about {
	text-align: center;
	color: white;
	background: #18bc9c;
	height: 50%;
}

.columns{
	width: 30%;
	display: inline-block;
	text-align: initial;
}

.about > h2 {
	color: white;
	padding: 5%;
}

.download{
	color: white;
	display: inline-block;
	margin-top: 22px;
	padding: 10px 20px;
}

/* sección de contacto */

.contact > .button-green {
	background:#18bc9c;
	color: white;
	display: inline;
	padding: 10px 20px;
}

  .form{
	text-align: center;
	width: 60%;
}  

/* pie de pag */

footer {
	background: #2c3e50;
	color: white;
	width: 100%;
	text-align: center;
}

footer > .more {
	width: 30%;
	display: inline-block;
}










